<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Scripts and styles here -->
</head>
<body class="container">
  <section id="content"><%- content %></section>
  <!-- Include our bundled JS -->
  <script src="/js/bundle.js"></script>
</body>
</html>
