<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="/css/styles.css"/>
</head>
<body class="container">
  	<section id="content"><%- content %></section>
  	<script src="/js/bundle.js"></script>
</body>
</html>